* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

h1 {
  text-align: center;
  font-weight: 100;
  font-size: 38px;
}

a {
  color: #FFF;
  padding: 8px 10px 6px;
  font-size: 18px;
  display: inline-block;
  background: #333;
  text-decoration: none;
  border-radius: 3px;
}

.link--disabled {
  cursor: default;
  background: #EEE;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.col-xs {
  padding: 0;
}